body{
    font-family: 'Poppins', sans-serif;
    margin:0 auto;   
}
.container{
    width:80%;
    margin:0 auto;
}
.main-heading{
    display: flex;
    padding:0 30px;
    justify-content: space-between;
}
.heading-left{
    width:50%;
    margin-right: 30px;
}
.heading-right{
    width:50%;
}
.heading-left h1{
    font-size:60px;
    line-height: 60px;
    border-left: 5px solid;
    border-image:linear-gradient(orange,black);
    border-image-slice: 1;
    padding-left: 10px;
}
span{
    color:orange;
}
.heading-left p{
    font-size: medium;
    font-weight: 700;
}
button{
    border: none;
    padding:10px 20px;
    background-image: linear-gradient(tomato,orange);
    border-radius: 5px;
    color:white;
    font-size: bold;
    font-weight: 900;
    transition:0.8s;
}
button:hover{
    background-image: linear-gradient(black,white);
    color:red;
    cursor: pointer;
    font-size:18px;
}
.heading-image{
    width:100%;
    padding-top:15px;
}
.mission-section{
    font-size:28px;
    text-align: center;
}
.section-3-mission{
    display:flex;
}
.mission-all{
    width:33%;
    border-radius: 20px;
    background-color: rgb(250, 223, 223);
    padding:0 15px;
    box-shadow: 10px 10px 40px gray;
    margin-bottom: 40px;
    margin-right: 25px;
}
.mission-image{
    width:100%;
    height:200px;
}
.mission-all h3{
    font-size:20px;
    text-align:center;
    font-size: bold;
}
.mission-all p{
    text-align: justify;
}
.education{
    background-color: rgb(168, 227, 230);
}
.medical{
    background-color: rgb(240, 227, 193);
}
.brain{
    width:90%;
    padding:5px;    
}
small{
    font-size: 10px;
    color:red;
}
.about{
    display: flex;
    background-position: left;
    background-image: url(image/shape2.png);
    background-repeat: no-repeat;
    padding-left: 100px;
    background-size: 200px;
    margin-bottom: 40px;
}
.about-left{
    width:50%;
    margin:20px 20px 0 0;
}
.about-right{
    width:50%;   
}
.about-img{
    width:100%;
    padding-bottom:20px;
}
.about-right h2{
    text-align: left;
    font-size: 25px;
    font-weight: 700;
}
.about-right p{
    text-align: justify;
}
.service{
    display:flex;
    margin-bottom: 40px;
}
.service-left{
    width:50%;
}
.service-right{
    width:50%;
}
.service-img{
    width:100%;
    height:350px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    border: 1px solid gray;
}
.service-left h2{
    font-size: 25px;
    font-weight: 700;
}
.service-left p{
    text-align: justify;
    margin-right: 30px;
}
.donate{
    display: flex;
}
.goal{
    width:100%;
    box-shadow: 10px 10px 40px gray;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.main-mission-section{
    padding-bottom:40px;
}
.donation{
    width:33.5%;
    background-color: rgb(191, 238, 194);
}
.donation-edu{
    background-color: rgb(235, 202, 235);
}
.donation-medical{
    background-color: rgb(182, 211, 218);
    padding-bottom: 25px;
}
.donation h3{
    text-align: center;
}
.donation p{
    text-align: center;
}
.donate-section-right{
margin:70px 0 40px 100px;
}
.donate-section-right h3{
    font-size: 25px;
}
footer{
    height: 120px;
    width: 100%;
    background-color: black;
    padding-bottom: 20px;
}
footer h3{
    color:white;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:25px;
    padding-top:40px;
}
.year{
    color:red;
}
.last-footer{
    text-align: center;
    display:block;
    color: white;
}